<a href="https://colab.research.google.com/github/krupavainala/ML_23AG1A66I9/blob/main/dataprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Dataset

In [17]:
import pandas as pd
data=pd.read_csv('dataprocessing - Sheet1.csv')
data.head()

    Name   Age Gender  Marks     City
0  Alice  18.0      f   85.0   london
1    bob   NaN      m   90.0  newyork
2  cathy  19.0      f   95.0      NaN
3  david  17.0      m   72.0   sydney
4    eva  18.0      f    NaN   london

Handling Missing Values

In [ ]:
data.fillna({
    'Age':data['Age'].mean(),
    'Marks':data['Marks'].mean(),
    'city':'Unknown'
},inplace=True)
print(data)

    Name   Age Gender  Marks     City
0  Alice  18.0      f   85.0   london
1    bob  18.0      m   90.0  newyork
2  cathy  19.0      f   95.0      NaN
3  david  17.0      m   72.0   sydney
4    eva  18.0      f   85.5   london

Remove Duplicates

In [ ]:
import pandas as pd
data={
    'Name': ['alice','bob','alice'],
    'Age':[18,18,18],
    'Gender': ['f','m','f'],
    'Marks': [85,90,85]
}
df=pd.DataFrame(data)
print("Original Data:")
print(df)
df_no_duplicates = df.drop_duplicates()
print("\nAfter Removing Duplicates:")
print(df_no_duplicates)

Original Data:
    Name  Age Gender  Marks
0  alice   18      f     85
1    bob   18      m     90
2  alice   18      f     85

After Removing Duplicates:
    Name  Age Gender  Marks
0  alice   18      f     85
1    bob   18      m     90

checking the datatype of a given dataset features

In [9]:
import pandas as pd
df=pd.DataFrame({
    'Name': ['alice','bob',],
    'Age':[17,18,],
    'Salary': [50000,70000],
})
print(df.dtypes)

Name      object
Age        int64
Salary     int64
dtype: object

convert specific columns to desired types

In [10]:
df['Age']=df['Age'].astype(int)
df['Salary']=df['Salary'].astype(float)
print(df.dtypes)

Name       object
Age         int64
Salary    float64
dtype: object

using pd.to_numeric()(handle errors)

In [11]:
df['Age']=pd.to_numeric(df['Age'],errors='coerce')
print(df.dtypes)

Name       object
Age         int64
Salary    float64
dtype: object

encoding categorical data

In [19]:
data['Gender']=data['Gender'].map({'f':0,'m':1})
print(data)

    Name   Age  Gender  Marks     City
0  Alice  18.0       0   85.0   london
1    bob   NaN       1   90.0  newyork
2  cathy  19.0       0   95.0      NaN
3  david  17.0       1   72.0   sydney
4    eva  18.0       0    NaN   london

use one-hot encoding for city

In [21]:
data=pd.get_dummies(data, columns=['City'])
print(data)

    Name   Age  Gender  Marks  City_london  City_newyork  City_sydney
0  Alice  18.0       0   85.0         True         False        False
1    bob   NaN       1   90.0        False          True        False
2  cathy  19.0       0   95.0        False         False        False
3  david  17.0       1   72.0        False         False         True
4    eva  18.0       0    NaN         True         False        False